global_loglevel = 0
host = imap.gmail.com
save_folder = models
checkpoint_path = models/cp.ckpt
full_save_path = models/full_model
tensorflow_loglevel = 3
training_shuffle_buffer_size = 10000
training_batch_size = 128
model_vocab_size = 1000
layers_setup = {'bidirectional(LSTM)':[64],'dense':[[64,'relu']]}
